.main-home {
  background: linear-gradient(-35deg, #7B2976, #946E36, #7B2976, #946E36);
	background-size: 1300% 200%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero{
  color: var(--branco);
  padding-top: 20vh;
  
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.chamada-hero{
  inline-size: 3.5em;
}

.hero-texto{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;

  font-weight: 500;
  font-size: 20px;

  margin-bottom: 28px;
}

.destaque-texto-hero{
  font-family: 'Urbanist', sans-serif;
}

.hero-botoes{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  gap: 24px;
} 