.lista-pessoas {
  background: none;
  min-width: 28.125rem;
  width: 64%;
}

.lista-pessoas thead {
  display: none;
}

.lista-pessoas tbody {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
}

.card-pessoa {
  background: var(--fundo-secundario);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5em;
  border-radius: 32px;
  border: none;
  padding: 1.25rem 2rem;
  padding-right: 1.25rem;
  cursor: pointer;
}

.card-pessoa.selected-row{
  background: var(--fundo-secundario-destaque);
  cursor: pointer;
}

.card-pessoa span {
  font-weight: 600;
}

.opcoes-card {
  display: flex;
  align-self: flex-end;
  gap: 1rem;
  margin-top: -1.15em;
}
