/* Header */

header{
  background: var(--fundo-primario);
  height: 80px;
  padding-left: 24px;
}

.logo{
  font-size:40px;
  font-weight: 700;
  font-family: 'Urbanist', sans-serif;
  text-decoration: none;
  color: var(--branco);
}

.logo:hover{
  text-shadow: -2px 2px 2px rgba(218, 153, 74, 0.242);
}

.destaque-logo{
  font-size: 28px;
  font-family: 'Gasoek One', sans-serif;
  color: var(--destaque-logo);
}


/* Nav */

nav{
  width: 100%;
  max-width: var(--content-range);
  height: 80px; /* é o mesmo do header */
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-nav{ 
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.menu-nav li{
  width: 164px;
  text-align: center;
  background: var(--destaque-primario-suave);
}

.menu-nav li:hover{
  background: var(--destaque-primario-medio);
}

.menu-nav-opcao{
  font-size: 24px;
  line-height: 80px;
  font-weight: 500;
  text-decoration: none;
  color: var(--branco);
}
