:root {
  --branco: #fdf9f9;
  --destaque-logo: #ab19b0;
  --destaque-link: #df7a00;

  --fundo-primario: #b69163;
  --fundo-secundario: #dec8ae;
  --fundo-secundario-destaque: #e9dbca;
  --fundo-detalhe: #ebd5d7;

  --destaque-primario: #9f7443;
  --destaque-primario-suave: #b28754;
  --destaque-primario-medio: #9d6b2e;
  --destaque-primario-forte: #66344d;
  --destaque-secundario: #a26479;
  --destaque-secundario-forte: #8c4e63;

  --texto-padrao: #894a5f;
  --texto-desfocado: rgba(137, 74, 95, 0.8);

  --alerta: #da341e;

  --footer-bg: #3c2731;
  --footer-texto: #948c83;

  --fonte-principal: "Maven Pro", sans-serif;
  --fonte-titulos-logo: "Urbanist", sans-serif;

  --content-range: 1200px;

  --header-height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fonte-principal);
}

.container {
  width: 100%;
  max-width: var(--content-range);
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: var(--destaque-secundario);
}

::-webkit-scrollbar-thumb {
  background: var(--destaque-primario-forte);
}

a:hover {
  color: var(--destaque-link);
}

.paginas {
  color: var(--texto-padrao);
  padding-top: 7.25vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
