:root {
  --branco:#FDF9F9;
  --destaque-logo: #ab19b0;

  --fundo-primario: #b69163;
  --fundo-secundario: #DEC8AE;
  --fundo-secundario-destaque: #E9DBCA;
  --fundo-detalhe: #EBD5D7;

  --destaque-primario: #9f7443;
  --destaque-primario-suave: #b28754;
  --destaque-primario-medio: #A27137;
  --destaque-primario-forte: #66344d;
  --destaque-secundario: #A26479;

  --texto-padrao: #894A5F;
  --texto-desfocado: rgba(137, 74, 95, 0.8);

  --alerta: #DA341E;

  --footer-bg: #3C2731;
  --footer-texto: #948C83;

  --fonte-principal: 'Maven Pro', sans-serif;

  --content-range: 1084px;
  
  
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: var(--fonte-principal);
}
